<div class="alert alert-success" role="alert">
    <label>New Items Template</label>
    <div class="row">
        <div class="col-md-2" style="cursor: pointer" (click)='createSingleLine()'>
            <h4>Single Line</h4>
        </div>
        <div class="col-md-2" style="cursor: pointer" (click)='createMultiLine()'>
            <h4>Multiple Line</h4>
        </div>
        <div class="col-md-2">.col-md-1</div>
        <div class="col-md-2">.col-md-1</div>
        <div class="col-md-2">.col-md-1</div>
        <div class="col-md-2">.col-md-1</div>
        <div class="col-md-2">.col-md-1</div>
      </div>
</div>