<!--Top Company Header -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" href="#">Kamban Forms</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <!-- Login for UserName and Password -->
            <form class="navbar-form navbar-right" role="search" *ngIf='!accessToken'>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="UserName"  [(ngModel)]='userName' [ngModelOptions]='{standalone: true}' (input)="userName=$event.target.value">
                    <input type="text" class="form-control" placeholder="Password"  [(ngModel)]='password' [ngModelOptions]='{standalone: true}' (input)="password=$event.target.value">
                </div>
                <button type="submit" class="btn btn-default" (click)='onLoginClick()'>Login</button>
            </form>
            <!--/Login for UserName and Password -->

            <!-- After logged in -->
            <form class="navbar-form navbar-right" role="search" *ngIf='accessToken'>
                <button type="submit" class="btn btn-default" (click)='onLogoutClick()'>Logout</button>
            </form>
            <!--/After logged in -->
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<!--/Top Company Header -->

<!--Product Header -->
<nav class="navbar navbar-inverse" style="padding-top: 50px;" *ngIf='accessToken'>
    <div class="container">
        <div id="navbar" class="collapse navbar-collapse">
            <!-- Login for UserName and Password -->
            <form class="navbar-form" role="search">
                <div class="form-group">
                    <a class="navbar-brand" [routerLink]="['/myforms']">My Forms</a>
                    <a class="navbar-brand" [routerLink]="['/newform']">New Form</a>
                    <a class="navbar-brand" [routerLink]="['/']">Rules</a>
                    <a class="navbar-brand" href="#">Settings</a>
                    <a class="navbar-brand" href="#">Themes</a>
                </div>
            </form>
            <!--/Login for UserName and Password -->
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<!--/Product Header  -->

<router-outlet *ngIf='accessToken'></router-outlet>